*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #ffffff;
    border-bottom: solid #ccc;
    height: 100px;
}

#topbar{
    width: 960px;
    margin: auto;
}

h1 {
    background-color: #4aaaa5;
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    height: 100px;
    width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Navigation{
    color: #777;
    list-style: none;
    display: flex;
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#About, #Portfolio, #Contact, .Break{
    padding: 10px;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: solid #ccc;
    margin: auto auto 20px auto;
    width: 900px;
    padding: 20px 0 20px 0;
    
}

body{
    background-image: url("../images/funky-lines.png");
}

#profileimage{
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}

#maincontent, #PortfolioPage, #contactpage{
    background-color: #fff;
    width: 960px;
    margin: 30px auto 30px auto;
    height: 100%;
}

#PortfolioPage{
    overflow: auto;
}

.aboutme{
    line-height: 2.0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 30px;
    margin-left: 30px;
}

footer{
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    color: #fff;
    height: 60px;
    position: sticky;
    width: 100%;
}

#Copyright{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: small;
    color: #ccc;
}

img {
    height: 200px;
    width: 200px;
    float: left;
    padding: 30px;
}

.portfolioimage{
    position: relative;
}

.imagetitle{
    height: 45px;
    width: 200px;
    background: #4aaaa5;
    color: #fff;
    font-family:'Georgia', Times, Times New Roman, serif;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: large;
}

#hangman{
    position: absolute;
    left: 30px;
    bottom: -210px;
}

#rpg{
    position: absolute;
    left: 290px;
    bottom: -210px;e
}

#trivia{
    position: absolute;
    right: 490px;
    bottom: 290px;
}

#info{
    position: absolute;
    left: 30px;
    bottom: -470px;
}

#rock{
    position: absolute;
    left: 290px;
    bottom: -470px;
}

form{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    padding: 20px 30px 20px 30px;
}

input {
    width: 900px;
    height: 25px;
    margin-bottom: 20px;
}

textarea{
    width: 903px;
    margin-bottom: 20px;
}

#submit{
    background: #4aaaa5;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: large;
    height: 50px;
    border: none;
    width: 15%;

}